@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700,900&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
  /* cursor: none; */
  outline: none !important;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#cursorBlob {
  width: 50px;
  height: 50px;
  background: #ffcc57;
  background-size: 1600% 1600%;
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 1;
  transition: 0.15s linear;
  animation: blobRadius 5s ease infinite;
}
@keyframes blobRadius {
  0%,
  100% {
    border-radius: 43% 77% 80% 40% / 40% 40% 80% 80%;
  }
  20% {
    border-radius: 47% 73% 61% 59% / 47% 75% 45% 73%;
  }
  40% {
    border-radius: 46% 74% 74% 46% / 74% 58% 62% 46%;
  }
  60% {
    border-radius: 47% 73% 61% 59% / 40% 40% 80% 80%;
  }
  80% {
    border-radius: 50% 70% 52% 68% / 51% 61% 59% 69%;
  }
}

#home {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  background-color: #f0f0f0 !important;
  overflow: hidden;
  /* cursor: none !important; */
  color: #181818 !important;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  background-color: #f0f0f0 !important;
  overflow-x: hidden;
  /* cursor: none !important; */
  color: #181818 !important;
}

a {
  text-decoration: none !important;
}

nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  margin: 20px 0px;
  background-color: transparent;
}

nav .nav-item {
  padding: 15px;
}

nav .nav-item .nav-link {
  font-weight: 900;
  color: #181818 !important;
  font-size: 14px;
  text-transform: uppercase;
}

h1 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 100px;
  color: #181818 !important;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

p {
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}
@media (min-width: 419px) {
  h1 {
    font-size: 100px;
    font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
  }
  h1.username {
    font-size: 100px;
    font-size: calc((0.0989119683 * 100vw + (58.5558852621px)));
  }
}
@media (min-width: 1430px) {
  h1 {
    font-size: 200px;
  }
  h1.username {
    font-size: 200px;
  }
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  width: 100vw;
  mix-blend-mode: screen;
}

::-moz-selection {
  color: #fff;
  background: #2128bd;
}

::selection {
  color: #fff;
  background: #2128bd;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span {
  background-color: #181818;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}
.nav-icon-5 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2) {
  top: 13px;
  left: 0px;
  opacity: 1;
}
.nav-icon-5 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2) {
  opacity: 0;
}
.nav-icon-5.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 13px;
}

.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.btn button {
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  margin: 0px 20px;
  color: #181818;
}

@media (max-width: 768px) {
  * {
    cursor: default;
  }
  #cursorBlob {
    display: none;
  }
  .navbar-collapse {
    background-color: #fff;
    border-radius: 5px;
  }

  nav .nav-item {
    padding: 15px;
  }

  .btn {
    margin-bottom: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.useravatar {
  margin: 50px 0px;
}

h1.username {
  text-transform: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 80px;
  color: #181818;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.servers {
  padding: 25px 0px;
  text-align: center;
}

.guild-container {
  margin: 25px 0px;
  background: #fff;
  text-align: left;
  padding: 25px;
  border-radius: 5px;
}

.serv-container {
  list-style: none;
  text-align: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.serv-info {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  margin: 0px 25px;
  border-radius: 5px;
  color: #181818;
}

.serv-noname {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  margin: 0px 25px;
  border-radius: 5px;
  color: #181818;
}

.guild-icon {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.info-container {
  margin: 25px 0px;
  background: #fff;
  text-align: left;
  padding: 25px;
  border-radius: 5px;
}

.info img {
  width: 55px;
}

.info h3 {
  display: inline-block;
  margin: 0px 0px 0px 25px;
  font-size: 20px;
  color: #181818;
  text-align: center;
  font-weight: 900;
}

.info-container ul {
  list-style: none;
  margin: 25px 0px 0px 0px;
  padding: 0;
}

.info-container .nav-link {
  font-weight: 600;
  color: #424242;
}

.info-container .active:hover {
  font-weight: 600;
  color: #ffffff !important;
  transition: ease-in-out 0.7s;
}

.info-container .nav-link:hover {
  font-weight: 600;
  color: #484db5;
}

.tab-pane {
  padding: 0 25px;
}

.guild-info {
  background-color: #fff;
  text-align: left;
  padding: 25px;
  border-radius: 5px;
  margin: 200px auto 100px auto;
}

h1.guild-name {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 80px;
  color: #181818;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

.config-container {
  list-style: none;
  text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #484db5 !important;
}

.config-container .prefix {
  text-align: left;
}

.prefix {
  margin-bottom: 50px;
}

.prefix h4 {
  color: #181818 !important;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

.prefix span {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0px;
  line-height: 10px;
}

.prefix #prefix {
  margin: 25px 0px;
  border: 0;
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 5px;
}

.prefix h5 {
  margin: 0px 0px 25px 0px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

.other-configs {
  text-align: left;
  font-weight: 500;
}

.other-configs h4 {
  color: #181818 !important;
  font-weight: 900;
  font-size: 20px;
  margin: 0px 0px 15px 0px;
  text-transform: uppercase;
}

.other-configs .toggleable-wrapper {
  display: flex;
  color: #252525 !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 8px;
}

.other-configs .toggleable-wrapper .information {
  flex: 0 1 auto;
  flex-basis: auto;
  flex-grow: 1;
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 13px;
}

.other-configs .toggleable-wrapper .information .sub-text {
  color: rgba(114, 118, 126, 0.8);
  font-size: 11px;
  margin-top: 4px;
  line-height: 20px;
  font-weight: 500;
}

.other-configs .toggleable-wrapper .information #select-channel {
  outline: none !important;
  width: 50%;
  margin: 20px 0px;
  display: inline-block;
  border: 0;
  background-color: #f0f0f0;
}

.other-configs .toggleable-wrapper .information #select-channel option {
  outline: none !important;
  width: 50%;
  margin: 20px 0px;
  border: 0;
  background-color: #f0f0f0;
}

.other-configs .toggleable-wrapper .information .addBtn {
  margin: 0px 0px 0px 25px;
  cursor: pointer;
  border: 0;
  background-color: #486eb5;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: ease-in-out 0.5s;
}

.other-configs .toggleable-wrapper .information .addBtn:hover {
  background-color: #38568b;
  transition: ease-in-out 0.5s;
}

.save {
  text-align: right;
}

.save button {
  cursor: pointer;
  border: 0;
  background-color: #5eb548;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  transition: ease-in-out 0.5s;
}

.save button:hover {
  transition: ease-in-out 0.5s;
  background-color: #4e963c;
}

/* COMANDOS */

.commands {
  margin: 200px 0px 0px 0px;
}

.commands h1 {
  color: #181818 !important;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  margin: 50px 0px;
}

.commands table {
  border: none !important;
  background-color: #ffffff;
  border-radius: 5px !important;
}

.commands thead tr th {
  font-size: 20px;
  font-weight: 800;
  padding: 25px;

}

.commands th {
  padding: 25px;
  border: 0 !important;
  font-size: 14px;
  font-weight: 600;
}

.commands tbody tr .name {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 800;
}

/* SWITCH TOGGLE */

.switch {
  display: inline-block;
  min-height: 24px;
  position: relative;
  min-width: 42px;
}

.switch input {
  display: none;
}

.slider.round {
  border-radius: 34px;
}

.slider {
  background-color: #72767d;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slider:before {
  background-color: #fff;
  content: "";
  height: 18px;
  bottom: 3px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 18px;
}

input:checked + .slider {
  background-color: #484db5;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #181818;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #181818;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* .pre-text {
  font-size: 15px;
}

.guild-container {
  top: 72px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.guild-container .serv-container {
  width: 70%;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.guild-icon {
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 50%;
  border: 2px solid #ddd;
  vertical-align: middle;
  transition: border-radius 0.5s cubic-bezier(0.5, 1.65, 0.5, -0.65);
  display: inline-block;
  text-decoration: none;
  border: 2px solid white !important;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.22) !important;
}

.guild-container {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
}

.guild-icon:hover {
  border-radius: 15px;
}

.serv-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.list-serv {
  display: block;
  list-style-type: disc;
  padding: 0px;
  list-style: none;
  opacity: 0.9;
}

canvas {
  background-color: #2a2d32;
}

canvas:hover {
  background-color: #7289da;
}

.contenant {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: relative;
  display: block;
  background-color: #35383c;
  border: 1px solid #2a2d32;
  text-decoration: none;
  background-color: #363636 !important;
  margin: 15px;
  opacity: 0.9;
  padding: 0.3em;
  border-radius: 3px;
}

.contenant:hover {
  background-color: #fff !important;
  border-color: #363636 !important;
  color: #363636 !important;
}

.btn {
  background-color: transparent !important;
  border-color: white !important;
  color: white !important;
  font-size: 1.25rem !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: white !important;
  color: #363636 !important;
  box-shadow: none;
  border-color: white !important;
}

.alert {
  border: 1px solid #fff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  border-radius: 3px;
  margin: 12px 0;
  padding: 12px;
}

.success {
  background-color: rgba(67, 181, 129, 0.3);
  border-color: #43b581;
}

.error {
  background-color: rgba(240, 71, 71, 0.3);
  border-color: #f04747;
} */
