<%- include components/header.ejs %>

<div class="container error404" style="height: 100vh">
    <h2>404</h2>
    <h1>Ops! Não tem nada aqui...</h1>
    <a href="/"><button>Voltar ao inicio</button></a>
</div>

<%- include components/footer.ejs %>
