<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title><%=client.username%></title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body id="home">
    <div id="cursorBlob"></div>
    <%- include components/header.ejs %>
    <section>
      <div class="title">
        <h1 class="botname"><%=client.username%></h1>
      </div>

      <div class="btn">
        <button class="add">
          Me adicione
        </button>
        <button class="join">
          Junte-se ao grupo
        </button>
      </div>
    </section>

    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
